
body{
    /*setting the background image */
    background:url("../images/bg1.png") ;
}

.navbar{
    background-color:#2a607c !important;
    border-bottom-color: brown;
    border-bottom: thick;
    margin-bottom:20px;


}
.navbar-brand{
    background-color: plum;
    color: snow  !important;
    font-size: xx-large;
    margin-left:75px;
}
     
 
 .nav-link {
     /*visual */
     color:white !important;
     text-decoration:none;
 }
 
 .nav-link:hover{
     /* visual */
     color:purple !important;
 }

 .container{
     /* box-model*/
     width:800px;
     height:500px;

     /*visual*/
     background-color:seashell;
  }
 footer{
     /* visual */
    background-color:#2a607c;
    color: cornsilk;

    /*positioning*/
    text-align:center;
    position: fixed;

   /*box-model*/  
    padding:15px;
    bottom: 0;
    width: 100%;  
}

/*
  These rules take effect when the browser's width
  is either 576px or less.
*/
@media screen and (max-width: 576px) { 
    .navbar{
        width:100%;
        right:0;

    }
    .container{
        width:100%;
        max-height:700;  
    }
    }