

body{
    /*setting the background image */
    background:url("../images/bg1.png") ;
}

.navbar{
    background-color:#2a607c !important;
    border-bottom-color: brown;
    border-bottom: thick;
    margin-bottom:20px;


}
.navbar-brand{
    background-color: plum;
    color: snow  !important;
    font-size: xx-large;
    margin-left:75px;
}

.nav-link {
    /*visual*/
    color:white !important;
    text-decoration:none;
}

.nav-link:hover{
    /* highlighting the hyperlinks */
    color:purple !important;
}

.container{
    /*box-model*/
    width:600px;
    height:400px;

    /*visual*/
    background-color: cornsilk; 
}
 
footer{
    background-color: #2a607c;
    color: cornsilk; 
    text-align:center;
    position: fixed;
    bottom:0;
    width:100%;
    padding:15px;
    left:0;
    border-top-style:solid;
    border-top-color: coral;


}
/* This rule takes into effect when the screensize is less than 576 px  */

@media screen and (max-width: 576px) { 
    .navbar{
        width:100%;
        /*overflow:auto;8*/
    }
    .container{
        width:100%;
        height:450px;
        overflow: hidden;
    }
    
}