body{
    /*setting the background image */
    background:url("../images/bg1.png") ;
    margin-bottom:100px;
}

.navbar{
    background-color:#2a607c !important;
    border-bottom-color: brown;
    border-bottom: thick;
    margin-bottom:20px;


}
.navbar-brand{
    background-color: plum;
    color: snow  !important;
    font-size: xx-large;
    margin-left:75px;
}

 .nav-link {

     /*visual */
     color:white !important;
     text-decoration:none;
     
 }
 
 .nav-link:hover{
     /* highlighting the links */
     color:purple !important;
 }
 .container{    
     /*visual*/
     background-color: seashell;
    
    /*box model */
     margin-bottom:20px;
     width:600px;

    
 }
.row{
     margin-bottom:10px;
}

 footer{
     
    position:fixed;
    height:75px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#2a607c;
    color: white;
    text-align: center;
    padding:15px;
  }

/*
  These rules take effect when the browser's width
  is either 576px or less.
*/
@media screen and (max-width: 576px) { 
      body{
      
    } 
    .navbar{
        width:100%;
    }
    .container{
        width:100%;
    }
    .row{
        margin-bottom:10px;
   }

   .row figure{
       margin-bottom:10px;
   }
    footer{
        bottom:0;
        width:100%;
         
    }
}
